base styles
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}
/* fonts */
@font-face{
    font-family: 'Fraunces', serif;
    /* font-family: 'fraunces-medium'; */
    src: url(fonts\francues\Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf);
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat-bold'; */
    src: url(fonts\mont\Montserrat-VariableFont_wght.ttf);
}
/* mobile styles */
@media screen and (min-width: 250px) {  
    div.body{
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        max-width: 340px;
        margin: 20% auto;
        border-radius: 20px;
        box-sizing: border-box;
    }
    #image{
        max-width: 100%;
    }
    #mimg{
        
        max-width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    div.text{
        padding-bottom: 20px;
        padding-inline: 25px;
    }h1{
        color: hsl(212, 21%, 14%);
        font-family: 'Fraunces';
        font-weight: 700;
        font-weight: 900;
        font-size: 2.4em;
        margin-top: 0;
        grid-column: 1/9;
        margin-bottom: 5px;
    }
    h2{
        font-family: 'Montserrat';
        font-size: 1.16em;
        font-weight: 700;
        letter-spacing: 5px;
        color: hsl(228, 12%, 48%);
        margin-bottom: 5px;
        grid-column: 1/9;
    }
    main{
        color: hsl(212, 21%, 14%);
        margin-top: 8px;
        font-size: 1.01em;
        font-family: 'Montserrat';
        margin-bottom: 10px;
    }
    section p.span{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px 0;
    }
    #sp1{
        color: rgb(7, 121, 3);
        font-weight: bolder;
        font-size: 2em;
        grid-row: 1/4;
        font-family: 'fraunces';
        font-weight: 700;
    }
    #sp2{
        color: hsl(228, 12%, 48%);
        padding-left: 20px;
        text-decoration: line-through;
        grid-row: 2/3;
        grid-column: 2/4;
        font-family: 'Montserrat';
    }
    button{
        background-color: rgb(60, 128, 103);
        border: 0 solid black;
        width: 100%;
        display: inline-block;
        border-radius: 25px;
        padding: 5px 0;
    }
    button:hover, button:focus{
        background-color: hsl(212, 21%, 14%);
    }
    button p.end{
        display: grid;
        margin: 0;
        align-self: center;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(7, 1fr);
    }
    #sp3{
        color: white;
        margin-left: 5px;
        grid-row: 2/4;
        grid-column: 1/8;
    }
    #cart{
        margin-top: 8px;
        grid-row: 1/5;
        grid-column: 3/8;
    }
    #dimg{
        display: none;
    }
}
    /* tablet, laptop and desktop styles */  
@media screen and (min-width: 1000px) {
    #mimg{
        display: none;
    }  
    div.body{
        width: 100%;
        max-width: 500px;
        margin: 10% auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    div#image{
        display: inline-block;
        grid-column: 1;
    }
    div.text{
        display: inline-block;
        width: 100%;
        height: 100%;
        grid-column: 2;
        padding-bottom: 20px;  
        box-sizing: border-box;   
        padding-inline: 20px;   
    }
    #dimg{
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    } 
    h2{
        margin-top: 20px;
    }
    h1{
        margin-top: 10px;
    }
    main{
        margin-top: 20px;
    }
    section{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    button{
        width: 100%;
        margin-top: 5px;
        display: inline-block;
        border-radius: 15px;
        padding: 5px 0;
    }
    button p.end{
        display: grid;
        margin: 0;
        align-self: center;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(7, 1fr);
    }
    #sp3{
        color: white;
        margin-left: 5px;
        grid-row: 2/4;
        grid-column: 1/8;
        margin-left: 30px;
    }
    #cart{
        margin-top: 8px;
        grid-row: 1/5;
        grid-column: 3/8;
    }
}
